body {
    height: 1500vh;
}

.Header {
    width: 100%;
    height: 170px;
    background-color: #191A19;
    top: 0;
    position: sticky;
    z-index: 9999;
}

body::selection {
    background-color: #FF7420;
    color: #000;
}

.Header-items-wrap {
    padding: 60px 110px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.Name {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-size: 40.98px;
    line-height: 100%;
    color: #FF7420;
}

.UL-navigation {
    display: flex;
    gap: 50px;
}

.li-navigation {
    font-family: "Poppings", sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    cursor: pointer;
    white-space: nowrap;
}

.li-navigation:first-child {
    position: relative;
    display: inline-block;
    color: #FF7420;
}

.li-navigation:first-child::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #FF7420;
    transition: 0.3s ease;

}

.li-navigation:first-child:hover::after {
    width: 100%;
}

.right-els-text {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
}

.right-els-text:nth-child(2) {
    width: 194;
    height: 66;
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    background-color: #FF7420;
    line-height: 100%;
}

.right-els {
    display: flex;
    gap: 20px;
}

.backround-main-image {
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    transition: 0.3s ease-in;
}

.backround-main-image:hover {
    filter: contrast(1.6);
}

.background-div {
    position: relative;
}

.on-backround-text:nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    width: 460px;
    text-align: left;
}


.on-backround-text:nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
    color: #fff;
    width: 600px;
    margin-top: 40px;
}

.Ftr-span {
    color: #FF7420;
}

.on-backround-items {
    position: absolute;
    display: inline-block;
    z-index: 5;
    top: 100px;
    left: 90px;
    box-shadow: 0px 0px 120px #000;
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s ease-out;
}

.on-backround-items:hover {
    background-color: #000000;
    opacity: 0.9;
    box-shadow: 15px 5px 50px #000;
}

.on-backround-bnts-div {
    display: flex;
    gap: 90px;
    margin-top: 100px;

}

.on-backround-btn:nth-child(1) {
    background-color: #FF7420;
    width: 246;
    height: 66;
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s ease;
}

.on-backround-btn:nth-child(1):hover {
    background-color: #fff;
    color: #FF7420;
}

.on-backround-btn:nth-child(2) {
    background-color: #ffffff;
    width: 246;
    height: 66;
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s ease;
}

.on-backround-btn:nth-child(2):hover {
    background-color: #9c9c9c;
    color: #ffffff;
}

.s2-backround {
    width: 100%;
    height: 1000px;
    background-color: #FF7420;
    position: relative;
}

.s2-backround-text-div {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    padding: 90px;
    white-space: nowrap;
}

.s2-backround-text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    color: #191A19;
}

.s2-ul {
    display: flex;
    gap: 50px;
}

.s2-li {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
}


.s2-li:first-child {
    position: relative;
    display: inline-block;
    color: #000000;
}

.s2-li:first-child::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #000000;
    transition: 0.3s ease;

}

.s2-li:first-child:hover::after {
    width: 100%;
}

.flex-blocks {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.block {
    width: 485px;
    height: 613px;
    position: relative;
    border-radius: 10px;
}

.card-text-div {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150%);
    cursor: pointer;
    transition: 0.3s ease;
}

.card-text {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.fa-bars {
    color: #FF7420;
    font-size: 45px;
}

.bar-div {
    background-color: #252525;
    padding: 15px;
    display: none;
    order: -1;
}

.cards-photo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.cards-photo:hover {
    filter: brightness(0.1);
}

.cards-photo:hover+.card-text-div {
    box-shadow: 0 0 20px #fff;
    padding: 15px;
    border: none;
    border-radius: 15px;
}

.section3-background {
    width: 100%;
    padding: 15px;
    background-color: #191A19;
}

.section3-top-text-div {
    padding: 45px;
    width: 100%;
    text-align: center;
}

.s3-top-text:nth-child(1) {
    color: #FF7420;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
}

.s3-top-text:nth-child(2) {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    width: 47%;
    margin: 0 auto;
    margin-top: 20px;
    letter-spacing: 1px;
}

.s3-top-text-1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
}

.s3-top-text-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    margin-top: 10px;
}

.wrap-s3-txts {
    margin-top: 40px;
}

.form-part-div {
    margin-top: 50px;
}

.form-top-text {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    color: #fff;
}

.forms-wrap {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 120px;
}

.form1 {
    background-color: #FF7420;
    width: 1000px;
    height: 611px;
    border-radius: 10px;
}

.in-form-text {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    vertical-align: middle;
    padding: 50px;
        text-align: start;
}

.in-form-text-desc {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    vertical-align: middle;
    width: 88%;
    margin: 0 auto;
}

.top-inputs {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.first-2-input {
    flex-direction: column;
}

.second-2-input {
    flex-direction: column;
}

.top-input:nth-child(2),
.top-input:nth-child(4) {
    margin-top: 10px;
}

.top-input {
    width: 419px;
    height: 66px;
    top: 180px;
    left: 53px;
    border-radius: 15px;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
    color: #191A1980;
    border: none;
}

.top-input:focus {
    outline: none;
    border: 4px solid #000000;
}

.down-inputs {
    padding: 50px;
    display: block;
    margin: 0 auto;
}

.down-input {
    width: 856px;
    height: 148px;
    border-radius: 15px;
}

.submit-btn {
    margin-top: 15px;
    text-align: center;
    width: 856px;
    height: 76px;
    border-radius: 15px;
    background-color: #191A19;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;

}
.form2{
    width: 500px;
    height: 611px;
    background-color: #FF7420;
    border-radius: 10px;
}
.forms-wrap{
    display: flex;
}
/* responsive */
@media (max-width:1860px) {
    .flex-blocks {
        width: 100%;
    }

    .form1 {
        width: 930px;
    }
}
@media (max-width:1712px){
    .forms-wrap{
        flex-wrap: wrap;
    }
    .form2
    ,.form1
    {
        margin: 0 auto;
    }
    .form2{
       width: 900px;
    }
}
@media (max-width:1252px) {
    .s3-top-text:nth-child(2) {
        width: 100%;
    }
}

@media (max-width:1910px) {
    .s2-ul {
        flex-wrap: wrap;
        width: 60%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
    }

    .s2-backround-text-div {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px;

    }
}
@media (max-width:1826px){
    .form2{
        width: 400px;
    }
}
@media (max-width:1531px) {
    .flex-blocks {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .s2-backround {
        height: 70%;
    }
}

@media (max-width:1525px) {
    .UL-navigation {
        display: none;
    }

    .bar-div {
        display: inline-block;
        order: -1;
    }

    .Header-items-wrap {
        width: 100%;
    }
}

@media (max-width:1080px) {
    .right-els {
        display: none;
    }
}

@media (max-width:884px) {
    .s2-ul {
        width: 100%;
    }
}

@media (max-width:784px) {
    .on-backround-items {
        width: 400px;
    }

    .on-backround-btn:nth-child(1),
    .on-backround-btn:nth-child(2) {
        width: 100%;
    }

    .on-backround-bnts-div {
        flex-direction: column;
    }

    .on-backround-text:nth-child(1) {
        width: 100%;
    }

    .on-backround-text:nth-child(2) {
        width: 100%;
    }
}

@media (max-width:638px) {
    .bar-div {
        order: 1;
        margin-left: 10%;
    }
}

@media (max-width:524px) {
    .on-backround-items {
        width: 300px;
    }
}

@media (max-width:525px) {
    .on-backround-items {
        top: 10px;
        text-align: center;
    }

    .on-backround-text:nth-child(1) {
        text-align: center;
    }
}

@media (max-width:540px) {
    .block {
        width: 90%;
    }

    .s2-backround-text {
        font-size: 5vh;
    }
}

@media(max-width:527px) {
    .bar-div {
        position: absolute;
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-top: 50px;
        margin-left: -100px;
    }

    .fa-bars {
        font-size: 30px;
    }
}

@media (max-width:435px) {
    .Name {
        font-size: 4vh;
        margin-left: 10px;
    }

    .Header-items-wrap {
        padding: 60px 60px;
    }

    .bar-div {
        margin-left: -50px;
    }
}

@media (max-width:472px) {
    .on-backround-items {
        border: 1px solid #000;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        height: 100%;
    }
}

@media (max-width:394px) {
    .s2-backround-text {
        font-size: 3vh;
    }
}

@media (max-width:373px) {
    .on-backround-text:nth-child(1) {
        font-size: 30px;
    }
}

@media (max-width:338px) {
    .Header-items-wrap {
        padding: 60px 10px;
    }

    .bar-div {
        margin-left: -5px;
    }
}

@media (max-width:678px) {
    .s3-top-text:nth-child(2) {
        font-size: 16px;
    }
}

@media (max-width:506px) {
    .form-top-text {
        font-size: 30px;
    }
}